/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* navbar
 * ----------------------------------------*/

.navbar {
  background-color: #000000;
}
.navbar li {
  transition: .3s background-color;
  text-align: center;
  background-color: transparent;
  padding: 0rem 1rem;
  text-decoration: none;
  border-radius: 0.3rem;
}
/*.navbar li {
  transition: .3s background-color;
  text-align: center;
  background-color: transparent;
  padding: 0rem 1rem;
  text-decoration: none;
  border-radius: 0.3rem;
}*/
.navbar li:hover {
  background-color: #CD853F;
}
.navbar li .nav-link{
  color: #ECB172;
}
.navbar li:hover .nav-link{
  color: #F0F8FF;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:focus{
  color: #F0FFF0;
  /*border-radius: 0.3rem;
  padding: .5rem .5rem;
  background-color: #ECB172;
  text-decoration: none;*/
}
/*
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #fff; 
  background-color: #ECB172;
  text-align: center;
  padding: 0rem 1rem;
  border-radius: 0.3rem;
}
*/

.dropdown-menu {
  background-color: #000000d0;
}

.dropdown-item {
  color: #ECB172;
}

.dropdown-item:hover {
  background-color: #ECB172D0;
}

.hero {
  background-color: rgba(0,0,0,0.92);
  text-color: white;
}


.top-image {
  height: 10rem;
  max-width: 20rem;
}


.outline-dask {
  color: #ECB172;
  background-color: transparent;
  border-color: #ECB172;
}

.outline-dask:hover {
  color: #212529;
  background-color: #ECB172;
  border-color: #ECB172;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.featurette-subheading {
  text-transform: uppercase;
  font-size: 1.2rem;
  display: block;
  font-weight: 600;
  margin: 1.2rem 0;
}

/* Supporters
 * ----------------------------*/

.supporters {
  text-align: center;
}

.supporter {
  margin: 0.5rem 0;
  width: 100%;
}

.supporter img{
  max-height: 100%;
  max-width: 85%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}

.news {
  padding: 10px;
  background-color: #fef4e9;
  border-radius: 4px;
  margin-bottom: 20px;
}
.news li {
  margin-bottom:10px;
}
.newslist {
  list-style: none;
  padding-left:0;
}
.newsdate {
  font-weight: bold;
  color: #4682B4;
  padding-right: 6px;
  font-size: 14px;
}

/*
.pub-item {
    position: relative;
    border-bottom: 1px solid #dedede;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
*/
.pub-item {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.pub-item .elem-wrapper {
    float: left;
}
.pub-item .content-wrapper {
    position: relative;
}
.pub-item .content-wrapper >a {
    display: block;
    text-decoration: none;
}
.pub-item .content-wrapper >a:hover .title, .pub-item .content-wrapper >a:focus .title {
    color: #333;
}
.pub-item .pub-thumbnail {
    border: 1px solid #979797;
}
.pub-item .title {
    font-size: 16px;
    color: #636363;
    margin-bottom: 10px;
    font-weight: bold;
    font-weight: 600;
}
.pub-item .title a {
    color: #636363;
}
.pub-item .title a:hover, .pub-item .title a:focus {
    color: #333;
}
.pub-item .description {
    font-size: 14px;
}
.pub-item .description p {
    line-height: 18px;
}
.pub-item .description ul.meta {
    list-style: none;
    padding: 0;
}
.pub-item .description ul.meta li {
    margin-bottom: 3px;
}
.pub-item .description ul.meta li i {
    padding-right: 5px;
    position: relative;
    top: 1px;
}
.pub-item .description .citation, .pub-item .description .citation a {
    font-style: italic;
    color: #9d9d9d;
    max-width: 70%;
}
.pub-item .description .citation {
    margin-bottom: 20px;
}
.pub-item .description .citation a {}
.pub-item .description .citation a:hover, .pub-item .description .citation a:focus {
    color: #FF3366;
}
.dark-wrapper .pub-item {
    border-bottom-color: #4b4b4b;
}
.dark-wrapper .pub-item .title, .dark-wrapper .pub-item .title a {
    color: #fff;
}
.dark-wrapper .pub-item .pub-thumbnail {
    border-color: #4b4b4b;
}
.dark-wrapper .pub-item.with-icon .elem-wrapper i {
    border-color: #4b4b4b;
    background-color: #3a3a3a;
}
.pub-item.with-icon .elem-wrapper i {
    background-color: #fff;
    color: #bbb;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #bbb;
    line-height: 42px;
    display: block;
    transition: all 0.25s ease;
}
.pub-item.with-icon .content-wrapper {
    margin-left: 70px;
}
.pub-item.with-thumb img {
    width: 85%;
    height: auto;
}
.pub-item.with-thumb .elem-wrapper {
    width: 100px;
}
.pub-item.with-thumb .content-wrapper {
    margin-left: 100px;
}
.pub-item.with-thumb.right .elem-wrapper {
    float: right;
}
.pub-item.with-thumb.right .content-wrapper {
    margin-left: 0px;
    margin-right: 70px;
}
.pub-item.with-thumb.large .elem-wrapper {
    width: 85px;
}
.pub-item.with-thumb.large .content-wrapper {
    margin-left: 102px;
}
.pub-item.with-thumb.large.right .elem-wrapper {
    float: right;
}
.pub-item.with-thumb.large.right .content-wrapper {
    margin-left: 0px;
    margin-right: 102px;
}
.pub-item.with-thumb.xlarge .elem-wrapper {
    width: 105px;
}
.pub-item.with-thumb.xlarge .content-wrapper {
    margin-left: 145px;
}
.pub-item.with-thumb.xlarge.right .elem-wrapper {
    float: right;
}
.pub-item.with-thumb.xlarge.right .content-wrapper {
    margin-left: 0px;
    margin-right: 145px;
}

/*
.pub {
  padding-left: 0px;
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 20px;
}

.pub img {
  float: left;
  opacity: 0.7;
  transition: 0.2s;
  -moz-transition: 0.2s;
  height: 125px;
  width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.pub img:hover {
  opacity: 1;
}
.pub p {
  border-left: 1px solid #007697;
  margin-left: 120px;
  height: 125px;
  margin-top: 0px;
}
*/
/*
.pub p {
  margin-left: 120px;
  height: 130px;
  margin-top: 0px;
}
*/
/* For pub titles that have no links */
/*
.pub-title {
  color: rgba(0, 0, 0, 0.6);
}

.pub-venue {
  font-style: italic;
}

.pub-award {
  font-weight: bold;
  color: #830D2C;
}

a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition:color 0.2s;
  -moz-transition:color 0.2s;
}

a:hover {
  color: rgba(0, 0, 0, 0.75);
}

.paper-title {
  font-style: italic;
}
*/

/*
p {
  padding-left: 20px;
}
*/

.people {
}
.person {
  display: block;
  float: left;
  margin-right: 30px;
  width: 180px;
  height: 270px;
}
.person .img {
  width: 180px;
  height: 180px;
}
.person-name {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  text-align: center;
  font-size: 14pt;
  margin-top: 15px;
}
.person-desc {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  text-align: center;
  color: rgb(50,50,50);
  margin-top: 2px;
}

/*
header {
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  background-position: left;
  background-position: 0px 19px;
  background-size: 160px 160px;
  height: 180px;
  font-family: 'Rokkitt', serif;
  padding-left: 170px;
}
*/





/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 3rem;
  }
}

